{# TODO: Replace all the context/templatefilter/templatetag with proper context variables #}
{% extends 'base.html' %}
{% load static %}
{% load homework_tags %}

{% block title %}Welcome{% endblock %}

{% block extra_head %}
    <style>
        .condensed {
            margin: 0.5vh 0 0 0 !important;
            padding: 0.5vh 0 0 0 !important;
        }

        .no-padding {
            padding: 1vh 0 0 0 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui centered grid">
        <div class="row">
            <a class="ui blue button" href="{% url 'profiles:student_overview' %}">Back to Student Overview</a>
            <div class="fourteen wide column">

                {% include "klasses/klass_header.html" %}

                <div class="ui header">Assignments for Class {{ klass.title }}</div>
                {% for definition in klass.homework_definitions.all %}
                    {#                    {% if definition.team_based %}#}
                    {% with definition|get_last_submission:user.pk as submission %}
                        {% with submission|get_last_grade as grade %}
                            <div class="ui message">
                                <div class="content">

                                    <div class="header">
                                        {{ definition.name }}
                                    </div>
                                    <hr>

                                    <div class="ui grid">
                                        <div class="row">
                                            <div class="eight wide column">

                                                <h4>Due Date: {{ definition.due_date }}</h4>
                                                <p>{{ definition.description }}</p>
                                                {% if not definition.questions_only %}
                                                    <a href="{{ definition.challenge_url }}"
                                                       target="_blank" rel="noopener noreferrer"
                                                       class="ui blue button">Codalab Challenge</a>
                                                    {% if definition.starting_kit_github_url %}
                                                        <a href="{{ definition.starting_kit_github_url }}" target="_blank" rel="noopener noreferrer" class="ui blue button">
                                                            <i class="ui github icon"></i>
                                                            Starting Kit</a>
                                                        <br>
                                                    {% endif %}
                                                {% endif %}

                                                {% if definition.team_based %}
                                                    <div style="margin-top: 2vh; margin-bottom: 2.5vh; margin-left: 0;"
                                                         class="ui basic red label">Graded as teamwork
                                                    </div>
                                                {% endif %}

                                                {% if submission %}
                                                    <div class="ui divider"></div>
                                                    <h4 class="ui header">Submission Details:</h4>
                                                    <ul class="ui relaxed celled list">

                                                        {% if not definition.questions_only %}
                                                            <div class="item"><a
                                                                    href="{{ submission.github_url }}"
                                                                    target="_blank" rel="noopener noreferrer"
                                                                    class="">Github URL for Submission</a></div>
                                                        {% endif %}
                                                        {% if definition.ask_method_name %}
                                                            <div class="item">Method Name:
                                                                {{ submission.method_name }
                                                            }</div>
                                                        {% endif %}
                                                        {% if definition.ask_method_description %}
                                                            <div class="item">Method Description:
                                                                {{ submission.method_description }}
                                                            </div>
                                                        {% endif %}
                                                        {% if definition.ask_project_url %}
                                                            <div class="item">Project URL:
                                                                <a href="{{ submission.project_url }}"
                                                                   target="_blank" rel="noopener noreferrer"
                                                                >{{ submission.project_url }}</a>
                                                                </div>
                                                        {% endif %}
                                                        {% if definition.ask_publication_url %}
                                                            <div class="item">Publication URL:
                                                                <a href="{{ submission.publication_url }}"
                                                                   target="_blank" rel="noopener noreferrer"
                                                                >{{ submission.publication_url }}</a>
                                                            </div>
                                                        {% endif %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                            <div class="eight wide column">
                                                {% if submission %}
                                                    <a href="{% url "homework:submit_homework" klass_pk=klass.pk definition_pk=definition.pk use_github=1 %}"
                                                       class="ui yellow fluid button">Re-Submit Homework</a>
                                                    <a href="{% url "homework:submission_list" definition_pk=definition.pk %}"
                                                       class="ui blue fluid button">View Submissions</a>

                                                    {%  if not definition.questions_only %}
                                                        <table class="ui table">
                                                            <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Status</th>
                                                                <th>Score</th>
                                                                <th>Logs</th>
                                                                <th>Phase</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for tracker in submission.tracked_submissions.all %}
                                                                <td>{{ tracker.remote_id }}</td>
                                                                {% if tracker.status %}
                                                                    <td>{{tracker.status}}</td>
                                                                {% else %}
                                                                    <td>No Status</td>
                                                                {% endif %}
                                                                {% if tracker.score %}
                                                                    <td>{{tracker.score}}</td>
                                                                {% else %}
                                                                    <td>No Score Yet</td>
                                                                {% endif %}
                                                                {% if tracker.logs %}
{#                                                                    <td>{{tracker.logs}}</td>#}
                                                                    <td>{% url "homework:submission_detail" pk=submission.pk %}</td>
                                                                {% else %}
                                                                    <td>No Logs Yet</td>
                                                                {% endif %}
                                                                <td>{{ tracker.remote_phase }}</td>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    {% endif %}

                                                {% else %}
                                                    <a href="{% url "homework:submit_homework" klass_pk=klass.pk definition_pk=definition.pk use_github=1 %}"
                                                       class="ui blue fluid button">Submit Homework</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if grade %}
                                            <div class="row">
                                                <div class="center aligned sixteen wide column">
                                                    <div class="ui divider"></div>
                                                    <h3 class="ui header">Grade: </h3>{{ grade.text_grade }}
                                                    <div class="ui stacked segment message">
                                                        <h4 class="ui header">Teacher comments: </h4>
                                                        {{ grade.teacher_comments }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
