{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <div class="ui centered grid">
            <div class="row">
                <div class="twelve wide column">
                    <div class="ui centered grid message">
                        <div class="row">
                            <div class="ui center aligned container" style="margin-bottom: 5px;">
                                <h1 class="ui massive header" style="font-size: 56px;">Homework for {{ klass.title }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui row">
                <div class="sixteen wide center aligned column">
                    <table class="ui center aligned sortable celled table">
                        <thead style="background-color: #2185d0; color: white;">
                        <tr class="black">
                            <th>Name:</th>
                            <th>Due Date:</th>
                            <th>Creator:</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for homework_def in klass.homework_definitions.all %}
                                <tr>
                                    <td>{{ homework_def.name }}</td>
                                    <td>{{ homework_def.due_date }}</td>
                                    <td>{{ homework_def.creator.user.username }}</td>
                                    <td>Not Submitted</td>
                                    <td><a href="{% url "homework:submit_homework" klass_pk=klass.pk definition_pk=homework_def.pk %}" class="ui button">Submit</a></td>
                                </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


{% endblock %}