{# TODO: Replace all the context/templatefilter/templatetag with proper context variables #}
{% extends 'base.html' %}
{% load static %}
{% load homework_tags %}

{% block title %}Welcome{% endblock %}

{% block extra_head %}
    <style>
        .condensed {
            margin: 0.5vh 0 0 0 !important;
            padding: 0.5vh 0 0 0 !important;
        }

        .no-padding {
            padding: 1vh 0 0 0 !important;
        }

        .popup-container {
            padding: 20px !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui centered grid">
        <div class="row">
            <a class="ui blue button" href="{% url 'homework:overview' klass_pk=klass.pk %}">Back to Class Overview</a>
            <div class="fourteen wide column">
                <div class="ui centered grid segment">
                    <div class="row">
                        <div class="two wide column">
                            {% if klass.image %}
                                <img style="height: 100px; width: auto;" src="{{ klass.image.url }}">
                            {% else %}
                                <img style="height: 100px; width: auto;" src="{% static "images/dark-triangles.png" %}">
                            {% endif %}
                        </div>
                        <div class="fourteen wide column">
                            <div class="ui grid">
                                <div class="row no-padding">
                                    <div class="twelve wide column">
                                        <h1 class="ui header">{{ klass.title }}</h1>
                                        {% if klass.group %}
                                            <h4 class="ui header condensed">From Group: {{ klass.group.name }}</h4>
                                        {% endif %}
                                        <h4 class="ui header condensed">Organized
                                            by: {{ klass.instructor.user.username }}</h4>
                                    </div>
                                    <div class="four wide column">
                                        <h5 class="ui header condensed">Created: {{ klass.created.date }}</h5>
                                        <h5 class="ui header condensed">Modified: {{ klass.modified.date }}</h5>
                                    </div>
                                </div>
                                <div class="row no-padding">
                                    <div class="sixteen wide column">
                                        <ul class="ui relaxed list">
                                            <div class="item">
                                                Description: {{ klass.description }}
                                            </div>
                                            {% if klass.syllabus %}
                                                <div class="item">
                                                    <a href="{{ klass.syllabus.url }}">Syllabus</a>
                                                </div>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui header">Submissions for homework {{ definition.name }}{% if team %} for team {{ team.name }}{% endif %}</div>
                {% if definition %}
                    {#                    {% if definition.team_based %}#}
                    {% with definition|get_last_submission:user.pk as submission %}
                        {% with submission|get_last_grade as grade %}
                            <div class="ui message">
                                <div class="content">
                                    <h4>Due Date: {{ definition.due_date }}</h4>
                                    <p>{{ definition.description }}</p>
                                    <a href="{{ submission.get_challenge_url }}"
                                       class="ui green button">View Challenge</a>
                                    <a href="{% url "homework:submit_homework" klass_pk=klass.pk definition_pk=definition.pk use_github=1 %}"
                                       class="ui blue button">Submit Homework</a>
                                    {% if definition.starting_kit_github_url %}
                                        <a href="{{ definition.starting_kit_github_url }}" class="ui blue button">Goto Starting
                                            Kit</a><br>
                                    {% endif %}
                                    {% if definition.team_based %}
                                        <div style="margin-top: 2vh; margin-bottom: 2.5vh; margin-left: 0;"
                                             class="ui red label">Graded as teamwork
                                        </div>
                                    {% endif %}
                                    <div class="ui grid">
                                        <div class="row">
                                            {% if submissions %}
                                                <div class="sixteen wide column">
                                                    <table class="ui table">
                                                        <thead>
                                                        <tr>
                                                            <th class="two wide">Date</th>
                                                            {% if team or instructor_view %}
                                                                <th>User</th>
                                                            {% endif %}
                                                            <th>File</th>
                                                            <th>Details</th>
                                                            <th>Commit</th>
                                                            <th data-tooltip="Diff tells you how many commits were made since the last submission."
                                                                data-position="top left">
                                                                Diff
                                                                <i id="diff-header" class="question blue circle icon"></i>
                                                            </th>
                                                            <th>Score</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for submission in submissions %}
                                                            {% if submission.github_repo_name %}
                                                            <div id="popup-{{ submission.pk }}" class="ui popup top right transition popup-container">
                                                                <div class="ui grid">
                                                                    <div class="row">Repo: {{ submission.github_repo_name }}</div>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                            <tr id="row-{{ submission.pk }}">
                                                            <td>{{ submission.created|timesince }} ago</td>
                                                            {% if team or instructor_view %}
                                                                <td>{{ submission.creator.user }}</td>
                                                            {% endif %}
                                                            <td>
                                                                {% if submission.github_url %}
                                                                    <a class="ui mini blue icon button" href="{{ submission.github_url }}">
                                                                        <i class="file code icon"></i>
                                                                    </a>
                                                                {% else %}
                                                                    <a class="ui mini blue icon disabled button">
                                                                        <i class="file code icon"></i>
                                                                    </a>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <a class="ui mini blue button" href="{% url "homework:submission_detail" submission_pk=submission.pk %}">Details</a>
                                                            </td>
                                                            <td>
                                                                {% if submission.github_branch_name and submission.github_branch_name != "Branch" %}
                                                                    {{ submission.github_branch_name }}
                                                                {% elif submission.github_commit_hash and submission.github_commit_hash != "Commit" %}
                                                                    {{ submission.github_commit_hash|slice:'7' }}
                                                                {% else %}
                                                                    Master
                                                                {% endif %}
                                                            </td>
                                                            {% with previous_submission=submissions|next:forloop.counter0 %}
                                                                {% if submission.github_repo_name and previous_submission.github_repo_name == submission.github_repo_name %}
<!--                                                                    <td><submission-diff repos_url="{{ request.user.github_info.repos_url }}" submission_pk="{{ submission.pk }}" previous_submission_pk="{{ previous_submission.pk }}" user_pk="{{ request.user.pk }}"></submission-diff></td> -->
                                                                    <td><submission-diff
                                                                            repos_url="{{ request.user.github_info.repos_url }}"
                                                                            c_github_commit_hash="{{ submission.github_commit_hash }}"
                                                                            c_github_branch_name="{{ submission.github_branch_name }}"
                                                                            p_github_commit_hash="{{ previous_submission.github_commit_hash }}"
                                                                            p_github_branch_name="{{ previous_submission.github_branch_name }}"
                                                                            repo_name="{{ submission.github_repo_name }}"
                                                                            github_access_token="{{ request.user.github_info.access_token }}"
                                                                    ></submission-diff></td>
                                                                {% else %}
                                                                    <td>No Diff</td>
                                                                {% endif %}
                                                            {% endwith %}

                                                                {% for tracker in submission.tracked_submissions.all %}
                                                                    {% with tracker.get_remote_submission_info as submission_info %}
                                                                        {% if submission_info %}
{#                                                                            <td>{{ tracker.remote_id }}</td>#}
{#                                                                            <td>{{ submission_info|get_item:'status' }}</td>#}
                                                                            <td>{{ submission_info|get_item:'score' }}</td>
{#                                                                            <td>{{ tracker.remote_phase }}</td>#}
{#                                                                            <td></td>#}
                                                                        {% else %}
                                                                            <td>Waiting...</td>
                                                                        {% endif %}
                                                                    {% endwith %}
                                                                {% endfor %}
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            {% else %}
                                                <div class="eight wide column">
                                                </div>
                                                <div class="eight wide column">
{#                                                    <a href="{% url "homework:submit_homework" klass_pk=klass.pk definition_pk=definition.pk use_github=1 %}"#}
{#                                                       class="ui blue button">Submit Homework</a>#}
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% if grade %}
                                            <div class="row">
                                                <div class="center aligned sixteen wide column">
                                                    <div class="ui divider"></div>
                                                    <h3 class="ui header">Grade: </h3>{{ grade.text_grade }}
                                                    <div class="ui stacked segment message">
                                                        <h4 class="ui header">Teacher comments: </h4>
                                                        {{ grade.teacher_comments }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script>
        $(document).ready( function () {
            {% for submission in submissions %}
                {% if submission.github_repo_name %}
                    $('#row-{{ submission.pk }}').popup({
                        popup: '#popup-{{ submission.pk }}'
                    })
                {% endif %}
            {% endfor %}
        })
    </script>
{% endblock extra_script%}
