{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <div class="ui centered grid">
            <div class="row">
                <div class="twelve wide column">
                    <div class="ui centered grid message">
                        <div class="row">
                            <div class="ui center aligned container" style="margin-bottom: 5px;">
                                <h1 class="ui massive header" style="font-size: 56px;">Your Classes</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui row">
                <div class="sixteen wide center aligned column">
                    <table class="ui center aligned sortable celled table">
                        <thead style="background-color: #2185d0; color: white;">
                        <tr class="black">
                            <th>Image:</th>
                            <th>Title:</th>
                            <th>Course #:</th>
                            <th>Organizer:</th>
                            <th>Next Homework</th>
                            <th>Current Grade</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for membership in user.klass_memberships.all reversed %}
                            {% with membership.klass as klass %}
                                {% if klass.active or klass.instructor.user == request.user %}
                                    <tr>
                                        <td>
                                            {% if klass.image %}
                                                <img class="ui tiny image" src="{{ klass.image.url }}" width="50">
                                            {% endif %}
                                        </td>
                                        <td>{{ klass.title }}</td>
                                        <td>{{ klass.course_number }}</td>
                                        <td>{{ klass.instructor }}</td>
                                        <td><a href="{% url "homework:overview" klass_pk=klass.pk %}" class="ui blue button">View Homework</a></td>
                                        <td>{{ membership.klass_grade }}</td>
                                    </tr>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


{% endblock %}