# ----------------------------------------------------------------------------
# General
# ----------------------------------------------------------------------------

DOCKER_DEBUG=true

# ----------------------------------------------------------------------------
# Database
# ----------------------------------------------------------------------------

DB_HOST=postgres 
DB_NAME=postgres  
DB_USER=postgres  
DB_PASSWORD=postgres   
DB_PORT=5432

# ----------------------------------------------------------------------------
# Celery/Rabbit
# ----------------------------------------------------------------------------

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
BROKER_URL=

# ----------------------------------------------------------------------------
# Chahub Auth
# ----------------------------------------------------------------------------
SOCIAL_AUTH_CHAHUB_BASE_URL=
SOCIAL_AUTH_CODALAB_KEY=
SOCIAL_AUTH_CODALAB_SECRET=
