{# TODO: Replace all the context/templatefilter/templatetag with proper context variables #}
{% extends 'base.html' %}
{% load static %}
{% load homework_tags %}

{% block title %}Welcome{% endblock %}

{% block extra_head %}
    <style>
        .charts-container {
            margin: 40px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .chart-container {
            margin-top: 30px;
            margin-bottom: 20px;
            width: 350px;
        }

        .condensed {
            margin: 0.5vh 0 0 0 !important;
            padding: 0.5vh 0 0 0 !important;
        }

        .no-padding {
            padding: 1vh 0 0 0 !important;
        }

        .selection-section {
            margin-top: 2rem !important;
        }

        .hidden {
            display: none !important;
        }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
{% endblock %}

{% block content %}
    <div class="ui centered grid">
        <div class="row">
            <a class="ui blue button" href="{% url 'klasses:klass_details' klass_pk=klass.pk %}">Back to Class Overview</a>
            <div class="fourteen wide column">

                {% include "klasses/klass_header.html" %}

                <div class="ui header">Class Metrics</div>
                <div class="ui grid">

                    <div class="ui top attached tabular menu">
                        <a class="active item" data-tab="overview">Overview</a>
                        <a class="item" data-tab="students">Students</a>
                        <a class="item" data-tab="teams">Teams</a>
                    </div>

                    <div class="ui bottom attached active tab segment" data-tab="overview">

                        <div class='charts-container'>
                            <div class='chart-container'>
                                <h5>Class Average Scores
                                    <i class="ui blue question circle icon outline score-normalization-popup"
                                       data-title="Score Normalization"
                                       data-content="Each homework's score has been normalized to a linear scale based off of the homework's respective baseline and target scores.
                                                     A score of 1.0 is representative of the target score, while a score of 0.0 is representative of the
                                                     baseline score."
                                    ></i>
                                </h5>
                                <canvas ref="overview_scores" id="overview_scores"></canvas>
                            </div>

                            <div class='chart-container'>
                                <h5>Class Submission Times</h5>
                                <canvas ref="overview_temporal_histogram" id="overview_temporal_histogram"></canvas>
                            </div>
                        </div>
                        <a class="ui basic blue button" href="{% url 'api:klass_CSV' version='v1' klass_pk=klass.pk  %}?format=csv" download="overall_metrics_for_{{ klass.course_number }}.csv">Download</a>
                    </div>

                    <div class="ui bottom attached tab segment" data-tab="students">

                        <div class="ui one column center aligned grid selection-section">
                            <div class="twelve wide column">
                                <div class="ui six wide large blue label">Please select a student
                                    <i class="ui icon user"></i>
                                </div>
                                <div class="ui search selection four wide dropdown" id="student-dropdown" style="display: none;">
                                    <input type="hidden" name="student">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select Student</div>
                                    <div class="menu">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class='charts-container'>
                            <div class='student-chart chart-container'>
                                <h5>Scores
                                    <i class="ui blue question circle icon outline score-normalization-popup"
                                       data-title="Score Normalization"
                                       data-content="Each homework's score has been normalized to a linear scale based off of the homework's respective baseline and target scores.
                                                     A score of 1.0 is representative of the target score, while a score of 0.0 is representative of the
                                                     baseline score."
                                    ></i>
                                </h5>
                                <canvas ref="student_scores" id="student_scores"></canvas>
                            </div>
                            <div class='student-chart chart-container'>
                                <h5>Submission Times</h5>
                                <canvas ref="student_temporal_histogram" id="student_temporal_histogram"></canvas>
                            </div>
                        </div>
                        <a id="student_download_button" class="ui basic blue button hidden" href="#" download="student_metrics_for_.csv">Download</a>
                    </div>

                    <div class="ui bottom attached tab segment" data-tab="teams">
                        <div class="ui one column center aligned grid selection-section">
                            <div class="twelve wide column">
                                <div class="ui six wide large blue label">Please select a team
                                    <i class="ui icon users"></i>
                                </div>

                                <div class="ui search selection four wide dropdown" id="team-dropdown" style="display: none;">
                                    <input type="hidden" name="team">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select Team</div>
                                    <div class="menu">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='charts-container'>
                            <div class='team-chart chart-container'>
                                <h5>Submissions</h5>
                                <canvas ref="team_codalab_activity" id="team_codalab_activity"></canvas>
                            </div>

                            <div class='team-chart chart-container'>
                                <h5>Commits
                                    <a href="#" id="team-repo-url">Team Github Repo</a>
                                </h5>
                                <canvas ref="team_github_activity" id="team_github_activity"></canvas>
                            </div>

                            <div class='team-chart chart-container'>
                                <h5>Team Scores
                                    <i class="ui blue question circle icon outline score-normalization-popup"
                                       data-title="Score Normalization"
                                       data-content="Each homework's score has been normalized to a linear scale based off of the homework's respective baseline and target scores.
                                                     A score of 1.0 is representative of the target score, while a score of 0.0 is representative of the
                                                     baseline score."
                                    ></i>
                                </h5>
                                <canvas ref="team_scores" id="team_scores"></canvas>
                            </div>

                            <div class='team-chart chart-container'>
                                <h5>Team Submission Times</h5>
                                <canvas ref="team_temporal_histogram" id="team_temporal_histogram"></canvas>
                            </div>
                        </div>
                        <a id="team_download_button" class="ui basic blue button hidden" href= download="team_metrics_for_.csv">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script>

        var instructor_metrics = {}

        var team_download_url = "{% url 'api:team_CSV' version='v1' team_pk=99  %}?format=csv".replace('99', 'team_pk')
        var team_download_button = document.getElementById('team_download_button')
        var team_download_filename = 'team_metrics_for_NAME.csv'

        var student_download_url = "{% url 'api:student_CSV' version='v1' student_pk=99  %}?format=csv".replace('99', 'student_pk')
        var student_download_button = document.getElementById('student_download_button')
        var student_download_filename = 'student_metrics_for_NAME.csv'

        $(document).ready( function () {
            tab_setup()
            chart_setup()
            dropdown_setup()

        })

        function tab_setup() {
            $('.ui.tabular.menu .item').tab()
            $('.ui.tabular.menu .item').on('click', e => {
                tabname = $(e.target).data('tab')
                if (tabname === 'overview') {
                    // hide both dropdowns
                    $('#team-dropdown').hide()
                    $('#student-dropdown').hide()
                } else if (tabname === 'students') {
                    // hide teams and show students
                    $('#team-dropdown').hide()
                    $('#student-dropdown').show()
                } else if (tabname === 'teams') {
                    // hide students and show teams
                    $('#student-dropdown').hide()
                    $('#team-dropdown').show()
                }
            })
            $('.score-normalization-popup').popup()
        }

        function dropdown_setup() {

            CHAGRADE.api.get_klass({{ klass.pk }})
                .done(klass => {
                    let students = []
                    _.forEach(klass.enrolled_students, (student) => {
                        students.push({
                            name: student.user.username,
                            value: student.id,
                        })
                    })

                    let teams = []
                    _.forEach(klass.teams, (team) => {
                        let team_info = {
                            name: team.name,
                            value: team.id,
                        }
                        if (team.leader) {
                            team_info.leader = team.leader.id
                        }
                        teams.push(team_info)
                    })

                    $('#student-dropdown').dropdown({
                        values: students,
                        placeholder: 'Student',
                        onChange: (id, name, element) => {
                            student_download_button.href = student_download_url.replace('student_pk', id)
                            student_download_button.download = student_download_filename.replace('NAME', name)
                            student_download_button.classList.remove('hidden')

                            CHAGRADE.api.get_student_scores_metrics(id)
                                .done( (data) => {
                                    instructor_metrics.student_scores_chart.data.datasets[0].label = 'Student Scores'
                                    instructor_metrics.student_scores_chart.data.datasets[0].data = data.score
                                    instructor_metrics.student_scores_chart.data.labels = data.name
                                    instructor_metrics.student_scores_chart.update()
                                })
                                .fail( (data) => {
                                    console.info('student scores error', data)
                                })

                            CHAGRADE.api.get_student_submission_times_metrics(id)
                                .done( (sub_times) => {
                                    let time_data = _.fill(Array(24), 0)
                                    _.forEach(sub_times, (time) => {
                                        time_data[time.time] = time.count
                                    })

                                    instructor_metrics.student_temporal_histogram.data.datasets[0].data = time_data
                                    instructor_metrics.student_temporal_histogram.update()
                                })
                                .fail( (data) => {
                                    console.info('klass scores error', data)
                                })
                        },
                    })

                    $('#team-dropdown').dropdown({
                        values: teams,
                        placeholder: 'Team',
                        onChange: (id, name, element) => {
                            $('#team-header').html(name + "'s ")
                            team_download_button.href = team_download_url.replace('team_pk', id)
                            team_download_button.download = team_download_filename.replace('NAME', name)
                            team_download_button.classList.remove('hidden')

                            CHAGRADE.api.get_team_scores_metrics(id)
                                .done( (data) => {
                                    instructor_metrics.team_scores_chart.data.datasets[0].label = 'Team Scores'
                                    instructor_metrics.team_scores_chart.data.datasets[0].data = data.score
                                    instructor_metrics.team_scores_chart.data.labels = data.name
                                    instructor_metrics.team_scores_chart.update()
                                })
                                .fail( (data) => {
                                    console.info('team scores error', data)
                                })

                            CHAGRADE.api.get_team_submission_times_metrics(id)
                                .done( (sub_times) => {
                                    let time_data = _.fill(Array(24), 0)
                                    _.forEach(sub_times, (time) => {
                                        time_data[time.time] = time.count
                                    })

                                    instructor_metrics.team_temporal_histogram.data.datasets[0].data = time_data
                                    instructor_metrics.team_temporal_histogram.update()
                                })
                                .fail( (data) => {
                                    console.info('klass scores error', data)
                                })

                            CHAGRADE.api.get_team_contributions_metrics(id)
                                .done(data => {
                                    $('#team-repo-url').attr('href', data.repo_url)
                                    instructor_metrics.team_github_activity_chart.data.datasets[0].data = data.github_contributions.commit_count
                                    instructor_metrics.team_github_activity_chart.data.labels = data.github_contributions.cha_username
                                    instructor_metrics.team_github_activity_chart.update()

                                    instructor_metrics.team_codalab_activity_chart.data.datasets[0].data = data.chagrade_submissions.submission_count
                                    instructor_metrics.team_codalab_activity_chart.data.labels = data.chagrade_submissions.cha_username
                                    instructor_metrics.team_codalab_activity_chart.update()
                                })

                        },
                    })
                })
                .fail(error => {
                    console.info('klass error', error)
                })
        }

        function chart_setup() {
            instructor_metrics.overview_scores_chart = new Chart($('#overview_scores'), create_score_chart_config('Submission Scores'));
            instructor_metrics.overview_temporal_histogram = new Chart($('#overview_temporal_histogram'), create_temporal_bar_chart_config('Commit Frequency'));

            instructor_metrics.student_scores_chart = new Chart($('#student_scores'), create_score_chart_config('Submission Scores'));
            instructor_metrics.student_temporal_histogram = new Chart($('#student_temporal_histogram'), create_temporal_bar_chart_config('Commit Frequency'));

            instructor_metrics.team_scores_chart = new Chart($('#team_scores'), create_score_chart_config('Submission Scores'));
            instructor_metrics.team_temporal_histogram = new Chart($('#team_temporal_histogram'), create_temporal_bar_chart_config('Commit Frequency'));
            instructor_metrics.team_github_activity_chart = new Chart($('#team_github_activity'), create_bar_chart_config('Commits'));
            instructor_metrics.team_codalab_activity_chart = new Chart($('#team_codalab_activity'), create_bar_chart_config('Submissions'));

            function format_data_for_bar_chart(data) {
                let labels = []
                let values = []
                for (let i = 0; i < data.length; i++) {
                    labels.push(data[i].name)
                    values.push(data[i].count)
                }
                return {
                    labels: labels,
                    values: values,
                }
            }

            function update_chart(chart, data) {
                chart.data.datasets[0].data = format_data_for_chart(data)
                chart.update()
            }


            CHAGRADE.api.get_klass_scores_metrics({{ klass.pk }})
                .done( (data) => {
                    instructor_metrics.overview_scores_chart.data.datasets[0].label = 'Average Class Score'
                    instructor_metrics.overview_scores_chart.data.datasets[0].data = data.score
                    instructor_metrics.overview_scores_chart.data.labels = data.name
                    instructor_metrics.overview_scores_chart.update()
                })
                .fail( (data) => {
                    console.info('klass scores error', data)
                })

            CHAGRADE.api.get_klass_submission_times_metrics({{ klass.pk }})
                .done( (sub_times) => {
                    let time_data = _.fill(Array(24), 0)
                    _.forEach(sub_times, (time) => {
                        time_data[time.time] = time.count
                    })

                   instructor_metrics.overview_temporal_histogram.data.datasets[0].data = time_data
                   instructor_metrics.overview_temporal_histogram.update()
                })
                .fail( (data) => {
                    console.info('klass scores error', data)
                })
        }

        function create_default_chart_config() {
            return {
                type: 'bar',
                data: {
                    labels: [],
                    datasets: [],
                },
                options: {
                    legend: {
                        display: true,
                        position: 'bottom',
                    },
                    aspectRatio: 1.4,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true,
                                precision: 0,
                            }
                        }]
                    }
                }
            }
        }

        function create_bar_chart_config(label) {
            let config = create_default_chart_config()
            config.data.datasets.push(
                {
                    label: label,
                        data: [],
                    borderColor: 'rgba(0, 150, 0, 1)',
                    backgroundColor: 'rgba(0, 150, 0, 0.5)',
                })
            return config
        }

        var submission_time_labels = ['12 am', '1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am', '10 am', '11 am', '12 pm', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm', '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm',]

        function create_temporal_bar_chart_config(label) {
            let config = create_default_chart_config()
            config.data.labels = submission_time_labels
            config.data.datasets.push({
                label: 'Submissions Per Hour',
                data: [],
                backgroundColor:'rgba(54, 112, 185, 0.6)',
                borderColor:'rgba(54, 112, 185, 1)',
            })
            config.options.scales.xAxes[0].barPercentage = 1.3
            return config
        }

        function create_score_chart_config() {
            let config = create_default_chart_config()
            config.type = 'line'
            config.options.scales = {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 0.25,
                    }
                }]
            }

            config.data.datasets.push({
                label: '',
                data: [],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor:'rgba(54, 112, 185, 1)',
                borderWidth: 2.2,
                lineTension: 0,
            })
            return config

//            return {
//                type: 'line',
//                data: {
//                    datasets: [
//                        {
//                            label: '',
//                            data: [0.2, 0.3],
//                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
//                            borderColor:'rgba(54, 112, 185, 1)',
//                            borderWidth: 2.2,
//                            lineTension: 0,
//                        }
//                    ],
//                    labels: [],
//                },
//                options: {
//                    legend: {
//                        display: true,
//                        position: 'bottom',
//                    },
//                    aspectRatio: 1.4,
//                    scales: {
//                        yAxes: [{
//                            ticks: {
//                                beginAtZero: true,
//                                stepSize: 0.25,
//                            }
//                        }]
//                    }
//                }
//            }
        }




    </script>
{% endblock %}
