{% extends 'klasses/wizard/wizard_base.html' %}
{% load homework_tags %}

{% block wizard_title %}
    <h2 class="ui massive header" style="font-size: 56px;">Grade Homework</h2>
{% endblock %}


{% block wizard_content %}
    <div class="ui centered grid">
        <div class="row">
            <div class="ui fourteen wide column message">
                <h4 class="ui header">Submission Info:</h4>
                <div class="ui relaxed celled list">
                    <div class="item">First Name: {{ submission.creator.user.first_name }}</div>
                    <div class="item">Last Name: {{ submission.creator.user.last_name }}</div>
                    <div class="item">Username: {{ submission.creator.user.username }}</div>
                    <div class="item">Email: {{ submission.creator.user.email }}</div>
                    <div class="item">Team Leader: {{ submission.team.leader }}</div>
                    {% for tracker in submission.tracked_submissions.all %}
                        {% with tracker.get_remote_submission_info as submission_info %}
                            {% if submission_info %}
                                <div class="item">Submission Info: ID - {{ tracker.remote_id }}; Score - {{ submission_info|get_item:'score' }}; Status - {{ submission_info|get_item:'status' }}; Phase - {{ tracker.remote_phase }}</div>
                            {% else %}
                                <div class="item">Waiting...</div>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
                <h4 class="ui header">Challenge Rules</h4>
                <div class="ui relaxed celled list">
                    <a href="{{ definition.get_challenge_url }}" class="item">Link to challenge website</a>
                    <a href="{{ submission.submission_github_url }}" class="item">Link to Github repo of submission</a>
                </div>
                <h4>Questions</h4>
                <div class="ui relaxed celled list">
                    <ol>
                        {% if definition.ask_method_name %}
                            <li><b>Method Name:</b> {{ submission.method_name }}</li>{% endif %}
                        {% if definition.ask_method_description %}
                            <li><b>Method Description:</b> {{ submission.method_description }}</li>{% endif %}
                        {% if definition.ask_project_url %}
                            <li><b>Project URL:</b> {{ submission.project_url }}</li>{% endif %}
                        {% if definition.ask_publication_url %}
                            <li><b>Publication URL:</b> {{ submission.publication_url }}</li>{% endif %}
                    </ol>
                </div>
                {% if definition.custom_questions.count > 0 %}
                    <h4>Other Homework Questions</h4>
                    <div class="ui relaxed celled list">
                        <ol>
                            {% for answer in submission.question_answers.all %}
                                <li>{{ answer.question.question }}: {{ answer.text }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                {% endif %}
                <grade-homework></grade-homework>
            </div>
        </div>
    </div>
{% endblock %}