{% extends 'klasses/wizard/wizard_base.html' %}
{% load homework_tags %}

{% block wizard_title %}
    <h2 class="ui massive header" style="font-size: 56px;">Grade Homework</h2>
{% endblock %}


{% block wizard_content %}
    <div class="ui centered grid">
        <div class="row">
            <div class="ui fourteen wide column message">
                <h4 class="ui header">Submission Info: {{ submission.definition }}</h4>
                <div class="ui relaxed celled list">
                    <div class="item">First Name: {{ submission.creator.user.first_name }}</div>
                    <div class="item">Last Name: {{ submission.creator.user.last_name }}</div>
                    <div class="item">Username: {{ submission.creator.user.username }}</div>
                    <div class="item">Email: {{ submission.creator.user.email }}</div>
                    <div class="item">Team Leader: {{ submission.team.leader }}</div>
                    {% if submission.tracked_submissions.all %}
                        {% for tracker in submission.tracked_submissions.all %}
                            <div class="item">Submission Info: ID - {{ tracker.remote_id }}; Score - {{ tracker.score }}; Status - {{ tracker.status }}; Phase - {{ tracker.remote_phase }}</div>
                        {% endfor %}
                    {% else %}
                        <div class="item">No Submission</div>
                    {% endif %}
                    <div class="item">Submission Date: {{ submission.created }}</div>
                </div>

                {% if not definition.questions_only %}
                    <h4 class="ui header">Challenge Rules</h4>
                    <div class="ui relaxed celled list">
                        <a href="{{ definition.challenge_url }}" class="item" target="_blank" rel="noopener noreferrer">Link to challenge competition</a>
                        <a href="{{ submission.github_url }}" class="item" target="_blank" rel="noopener noreferrer">Link to Github repo of submission</a>
                        <a class="ui mini blue button" href="{% url "homework:submission_detail" submission_pk=submission.pk %}">Submission Details</a>
                    </div>
                {% endif %}

                <h4>Questions</h4>
                <div class="ui relaxed celled list">
                    <ol>
                        {% if definition.ask_method_name %}
                            <li><b>Method Name:</b> {{ submission.method_name }}</li>{% endif %}
                        {% if definition.ask_method_description %}
                            <li><b>Method Description:</b> {{ submission.method_description }}</li>{% endif %}
                        {% if definition.ask_project_url %}
                            <li><b>Project URL:</b>
                                <a href="{{ submission.project_url }}"
                                   target="_blank" rel="noopener noreferrer"
                                >{{ submission.project_url }}</a></li>{% endif %}
                        {% if definition.ask_publication_url %}
                            <li><b>Publication URL:</b>
                                <a href="{{ submission.publication_url }}"
                                   target="_blank" rel="noopener noreferrer"
                                >{{ submission.publication_url }}</a></li>{% endif %}
                    </ol>
                </div>
                <grade-homework></grade-homework>
            </div>
        </div>
    </div>
{% endblock %}