
{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block extra_head %}
    <style>
        .condensed {
            margin: 0.5vh 0 0 0 !important;
            padding: 0.5vh 0 0 0 !important;
        }

        .no-padding {
            padding: 1vh 0 0 0 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui centered grid">
        <div class="row">
        <a class="ui blue button" href="{% url 'profiles:student_overview' %}">Back to Student Overview</a>
            <div class="fourteen wide column">
                <div class="ui centered grid segment">
                    <div class="row">
                        <div class="two wide column">
                            <img style="height: 100px; width: auto;" src="{% static "images/dark-triangles.png" %}">
                        </div>
                        <div class="fourteen wide column">
                            <div class="ui grid">
                                <div class="row no-padding">
                                    <div class="twelve wide column">
                                        <h1 class="ui header">{{klass.title}}</h1>
                                        {% if klass.group %}
                                            <h4 class="ui header condensed">From Group: {{ klass.group.name }}</h4>
                                        {% endif %}
                                        <h4 class="ui header condensed">Organized by: {{ klass.instructor.user.username }}</h4>
                                    </div>
                                    <div class="four wide column">
                                        <h5 class="ui header condensed">Created: {{klass.created.date}}</h5>
                                        <h5 class="ui header condensed">Modified: {{klass.modified.date}}</h5>
                                    </div>
                                </div>
                                <div class="row no-padding">
                                    <div class="sixteen wide column">
                                        Description: {{ klass.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui header">Assignments for Class {{ klass.title }}</div>
                {% for definition in klass.homework_definitions.all %}
                    <div class="ui message">
                        <div class="content">
                            <div class="header">
                                {{ definition.name }}
                            </div>
                            <hr>
                            <h4>Due Date: {{ definition.due_date }}</h4>
                            <p>{{ definition.description }}</p>
                            {% if definition.team_based %}
                                <h4>Graded as teamwork</h4>
                            {% endif %}
                            <div class="ui grid">
                                <div class="row">
                                    <div class="eight wide column">
                                        <h4 class="ui header">Submission:</h4>
{#                                        <p>Due Date: {{ definition.due_date }}</p>#}
                                        {% if definition %}

                                        {% else %}
                                            No Submission yet, make one!
                                        {% endif %}
                                    </div>
                                    <div class="eight wide column">
                                        {% if definition %}
                                            <a href="{% url "homework:submit_homework" klass_pk=klass.pk definition_pk=definition.pk %}" class="ui button">View/Submit Homework</a>
                                            <a href="" class="ui button">View Challenge Submission</a>
                                        {% else %}
                                            No Submission!
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="eight wide column">Grade:</div>
                                    <div class="eight wide column"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
{#                <form class="ui form" method="post">#}
{#                    {% csrf_token %}#}
{##}
{#                    {{ form.non_field_errors }}#}
{##}
{#                    {% for field in form %}#}
{#                        <div class="field">#}
{#                            {{ field.errors }}#}
{#                            <span>#}
{#                                {{ field.label_tag }}#}
{#                                {{ field }}#}
{#                            </span>#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#                    <input type="submit" value="Submit">#}
{#                </form>#}
            </div>
        </div>
    </div>
{% endblock %}