
{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block extra_head %}
    <style>
        .condensed {
            margin: 0.5vh 0 0 0 !important;
            padding: 0.5vh 0 0 0 !important;
        }

        .no-padding {
            padding: 1vh 0 0 0 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui centered grid">
        <div class="row">
        <a class="ui blue button" href="{% url 'profiles:student_overview' %}">Back to Student Overview</a>
            <div class="fourteen wide column">
                <div class="ui centered grid segment">
                    <div class="row">
                        <div class="two wide column">
{#                            <img style="height: 100px; width: auto;" src="{% static "images/dark-triangles.png" %}">#}
                            <img style="height: 100px; width: auto;" src="{{ klass.image.url }}">
                        </div>
                        <div class="fourteen wide column">
                            <div class="ui grid">
                                <div class="row no-padding">
                                    <div class="twelve wide column">
                                        <h1 class="ui header">{{klass.title}}</h1>
                                        {% if klass.group %}
                                            <h4 class="ui header condensed">From Group: {{ klass.group.name }}</h4>
                                        {% endif %}
                                        <h4 class="ui header condensed">Organized by: {{ klass.instructor.user.username }}</h4>
                                    </div>
                                    <div class="four wide column">
                                        <h5 class="ui header condensed">Created: {{klass.created.date}}</h5>
                                        <h5 class="ui header condensed">Modified: {{klass.modified.date}}</h5>
                                    </div>
                                </div>
                                <div class="row no-padding">
                                    <div class="sixteen wide column">
                                        Description: {{ klass.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{#                Content Goes here#}
            <submit-homework></submit-homework>
            </div>
        </div>
    </div>
{% endblock %}