
{% extends 'base.html' %}
{% load static %}
{% load klass_header %}

{% block title %}Welcome{% endblock %}

{% block extra_head %}
    <style>
        .condensed {
            margin: 0.5vh 0 0 0 !important;
            padding: 0.5vh 0 0 0 !important;
        }

        .no-padding {
            padding: 1vh 0 0 0 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui centered grid">
        <div class="row">
        <a class="ui blue button" href="{% url 'profiles:student_overview' %}">Back to Student Overview</a>
            <div class="fourteen wide column">
                {% klass_header klass %}

                <submit-homework github="{{ github }}" pk="{{ request.user.id }}"></submit-homework>
            </div>
        </div>
    </div>
{% endblock %}