body {
    background-color: #f6f8fa;
}

.app {
    margin-bottom: 3em;
}

.hide-border {
    border: none !important;
    margin: -2em -1em !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.header-container {
    margin-bottom: 3em;
    padding: 1em;
    height: 80px;
}

.subheader-container {
    display: flex;
}

.grid.message {
    background-color: #fff;
}

.signup-btn,
.login-container .form-submit,
.hover-btn {
    background-color: white !important;
    border: solid 1px #038acb !important;
    color: #038acb !important;
    transition: all 30ms;

}

.signup-btn:hover,
.login-container .form-submit:hover,
.hover-btn:hover {
    background-color: #f2faff !important;
    border: solid 1px #03A9F4 !important;
    color: #03A9F4 !important;
    transition: all 30ms;
}

.login-btn, .view-btn {
    margin-top: 0 !important;
    background-color: #038acb !important;
    border: solid 1px #038acb !important;
    color: #f2faff !important;
    transition: all 30ms;
}

.login-btn:hover, .view-btn:hover {
    border: solid 1px #03A9F4 !important;
    background-color: #03A9F4 !important;
    transition: all 30ms;
}

.ui.button {
    z-index: 1000;
    margin-top: 10px;
    color: #e2e2e2;
    background-color: rgba(255, 255, 255, 0.15);
    font-weight: 100;
    cursor: pointer !important;
}

.hidden-btn {
    position: relative;
    top: -60px;
    background: transparent !important;
    text-transform: uppercase !important;
}

.hidden-btn:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: #e2e2e2 !important;
}

.button-suite {
    float: right;
}

#particles-js {
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(42, 68, 88);
    z-index: -1
}

.logo {
    text-align: left;
    color: white;
    cursor: pointer !important;
    z-index: 5;
    display: inline-block;
    transition: filter 100ms;
    width: 180px;
    margin: 0.5em 1em;
}

.logo:hover {
    filter: invert(20%);
    transition: filter 100ms;
    cursor: pointer;
}

#logo .ui.sub.header {
    color: rgba(190, 190, 190, 0.76);
    transition: all ease 100ms;
    width: auto;
    margin: 1em;
}

#logo .ui.sub.header:hover {
    color: rgb(238, 238, 238);
    transition: all ease 100ms;
}

.button-transition {
    display: flex;
    position: absolute;
    top: 14px;
    left: 230px;
}

.segment-container {
    padding: 0 !important;
    height: 100%;
    text-align: left;
}

.segment-container > .header {
    font-size: 1.25em !important;
    text-align: left !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-color: #F2FAFF;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: solid 1px gainsboro;
}

.container-content {
    margin: 10px;
}

#about-container .container-content .center.aligned.column {
    padding: 3em;
}

.list-tile {
    font-size: 1em;
    color: #a0a0a0;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-tile .date-complete {
    line-height: 0.9em !important;
}

#about-container {
    margin: 1em;
    width: 100%;
}

.flex-container {
    width: 60%;
}

.flex-container h4 {
    margin-bottom: 0.5em;
}

.eight.wide.flex-container {
    text-align: center;
    align-self: flex-end;
    width: 85%;
}

.login-container {
    text-align: center;
}

.login-container .field {
    text-align: left;
}

.login-container form {
    margin: 3em 150px;
}

.login-container .form-submit {
    box-shadow: none !important;
}

#about-container .icon.header {
    color: #565656
}

#about-container .icon i {
    color: #373f4f !important;
}

#about-container p {
    color: #999;
}

.ui.mini.steps {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.student-instructor-flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 1.5em
}

.student-instructor-flex .ui.button {
    margin: 0 1.5em;
}

.ui.sortable.table thead th:hover {
    background-color: #f2faff;
}

.ui.message {
    background-color: white;
}

.student-instructor {
    color: #909090;
    font-size: 1em;
    max-width: 600px;
    text-align: justify;
    margin: 2em auto !important;
}

.table-header-link {
    margin-left: 1em !important;
}
