{% extends 'base.html' %}

{% block title %}Change Your Password{% endblock %}

{% block content %}
    <div class="ui vertical masthead center aligned segment">
        <div class="ui relaxed list" style="margin-bottom: 5vh; font-weight: bolder;">
            <div class="item">Your password can't be too similar to your other personal information.</div>
            <div class="item">Your password must contain at least 8 characters.</div>
            <div class="item">Your password can't be a commonly used password.</div>
            <div class="item">Your password can't be entirely numeric.</div>
        </div>

        <div class="ui center aligned grid">
            <div class="ui six wide column message">

                <form class="ui form" method="post">
                    {% csrf_token %}

                    {{ form.non_field_errors }}

                    <div class="field">
                        {{ form.old_password.errors }}
                        {{ form.old_password.label_tag }}
                        {{ form.old_password }}
                    </div>

                    <div class="field">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                    </div>

                    <div class="field">
                        {{ form.new_password2.errors }}
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                    </div>


                    <input type="submit" value="Change Password">
                </form>
            </div>
        </div>
    </div>
{% endblock %}