{% extends 'base.html' %}

{% block wizard_title %}
    <h2 class="ui massive header" style="font-size: 56px;">Password Reset Success</h2>
{% endblock %}

{% block content %}
    <div class="ui center aligned grid">
        <div class="six wide column">
            <div class="ui center aligned segment">
                <h1 class="ui header">Password Reset Successfully</h1>
                <p>Your password has been reset to the default.</p>
                <br>
                <p>Please try to login, and if you have further issues, contact your instructor</p>
            </div>
        </div>
    </div>

{% endblock %}