{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="ui vertical masthead center aligned segment">
        <div class="ui center aligned grid">
            <div class="row">
                <div class="ui six wide column message">

                    <form class="ui form" method="post">
                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        <div class="field">
                            {{ form.email.errors }}
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>

                        <div class="field">
                            {{ form.password.errors }}
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>

                        <input type="submit" value="Login">
                        <input type="hidden" name="next" value="/"/>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="ui eight wide yellow column message">
                    <p>
                        Don't have an account? Create one <a href="{% url "profiles:sign_up" %}">here</a>!
                    </p>
                    <p>
                        Forgot your password? Request a reset: <a href="{% url "profiles:request_password_reset" %}">here</a>!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}