{% extends 'base.html' %}

{% block title %}Your Profile{% endblock %}

{% block content %}
    <div class="ui vertical masthead center aligned segment">
        <div class="ui center aligned grid">
            <div class="ui twelve wide column message">
                <h1 class="ui dividing header">Your Profile</h1>
                <div style="margin-top: 5vh;" class="ui form">
                    <div class="field">
                        <span>
                            <b>Username:</b> {{ user.username }}
                        </span>
                    </div>
                    <div class="field">
                        <span>
                            <b>Email:</b> {{ user.email }}
                        </span>
                    </div>
                    <div class="field">
                        <span>
                            <b>First Name:</b> {{ user.first_name }}
                        </span>
                    </div>
                    <div class="field">
                        <span>
                            <b>Last Name:</b> {{ user.last_name }}
                        </span>
                    </div>
                </div>
                <div class="ui center aligned grid" style="margin-top: 5vh;" >
                    <div class="row">
                        <a href="{% url "profiles:change_password" %}" class="ui yellow icon button">
                            <i class="ui wrench icon"></i>
                            Change Password
                        </a>
                    </div>
                    <div class="row">
                        {% if not user.github_info %}
                            <a href="{% url "social:begin" "github" %}" class="ui green icon button">
                                <i class="ui github icon"></i>
                                Connect To GitHub
                            </a>
                        {% else %}
                            <div class="ui green icon disabled button">
                                <i class="ui github icon"></i>
                                Connected To GitHub
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}