{% extends 'base.html' %}

{% block content %}
    <h1 class="ui header" style="">Password Reset Requests</h1>
    <div class="ui divider"></div>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>User Email</th>
            <th>User Display Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for request in password_reset_requests %}
            <tr>
                <td>{{ request.user.id }}</td>
                <td>{{ request.user.email }}</td>
                <td>{{ request.user.username }}</td>
                <td>
                    <form action="{% url "profiles:reset_user_password" user_pk=request.user.pk %}" method="post">
                        {% csrf_token %}
                        <input class="ui yellow icon button" type="submit" name="Reset Password"
                               value="Reset Password"/>
                    </form>
                </td>
                <td>
                    <form action="{% url "profiles:remove_user_password_reset_requests" user_pk=request.user.pk %}"
                          method="post">
                        {% csrf_token %}
                        <input class="ui red icon button" type="submit" name="Delete Request" value="Delete Request"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}