{% extends 'base.html' %}

{% block wizard_title %}
    <h2 class="ui massive header" style="font-size: 56px;">Request Password Reset</h2>
{% endblock %}

{% block content %}
    <div class="ui center aligned grid">
        <div class="six wide column">
            <div class="ui center aligned segment">
                <form class="ui form" action="" method="post">
                    {% csrf_token %}
                    <div class="sixteen wide field">
                        <label for="email">Email: </label>
                        <input id="email" type="text" name="email" value="">
                    </div>
                    <input class="ui yellow button" type="submit" value="Request Reset">
                </form>
            </div>
        </div>
    </div>

{% endblock %}