{% extends 'klasses/wizard/wizard_base.html' %}

{% block extra_head %}
    <style>
        .wide-button {
            width: 50%
        }
    </style>
{% endblock %}

{% block wizard_title %}
    <h2 class="ui massive header" style="font-size: 56px;">Activate Class</h2>
{% endblock %}

{#{% block wizard_description %}#}
{#    <h4 class="sub header">SOMETHING</h4>#}
{#{% endblock %}#}

{% block wizard_content %}
    <activate-klass></activate-klass>
{#    <h1>Test and Activate</h1>#}
{#    <div class="ui divider"></div>#}
{#    <div class="ui grid">#}
{#        <div class="row">#}
{#            <div class="eight wide column">#}
{#                <h2 class="ui header">1) Test your class</h2>#}
{#                <div class="ui sub header">#}
{#                    Impersonate a student, try to make a submission#}
{#                </div>#}
{#            </div>#}
{#            <div class="ui center aligned eight wide column">#}
{#                <a class="ui yellow button wide-button">Test</a>#}
{#            </div>#}
{#        </div>#}
{#        <activate-klass></activate-klass>#}
{#        <div class="row">#}
{#            <div class="eight wide column">#}
{#                <h2 class="ui header">2) Activate your class</h2>#}
{#                <div class="ui sub header">#}
{##}
{#                </div>#}
{#            </div>#}
{#            <div class="ui center aligned eight wide column">#}
{#                <a class="ui green button wide-button">Activate</a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="eight wide column">#}
{#                <h2 class="ui header">3) Download your bundle</h2>#}
{#                <div class="ui sub header">#}
{##}
{#                </div>#}
{#            </div>#}
{#            <div class="ui center aligned eight wide column">#}
{#                <a class="ui blue button wide-button">Download</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}