{% extends 'klasses/wizard/wizard_base.html' %}

{% block wizard_title %}
    <h2 class="ui massive header" style="font-size: 56px;">Enroll Students</h2>
{% endblock %}

{% block wizard_content %}
    <div class="ui centered grid">
        <div class="row">
            <div class="ui fourteen wide column message">
                <div>
                    <span>
                        <a href="{% url "groups:create_team" klass_pk=klass.pk %}" class="ui blue button">Create Student Team</a>
                        <a class="ui button">Upload Team CSV</a>
                    </span>
                    <h1>Teams</h1>
                    <table class="ui sortable table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th># Members</th>
                            <th>Status</th>
                            <th></th>
                            <th>Entries</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for team in klass.teams.all %}
                            <tr>
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <td>
                                    {{ team.name }}
                                </td>
                                <td>
                                    {{ team.members.count }}
                                </td>
                                <td>
                                    Not Implemented
                                </td>
                                <td>
                                    Not Implemented
                                </td>
                                <td>
                                    Not Implemented
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="ui divider" style=""></div>

                <participants-table></participants-table>

            </div>
        </div>
    </div>

{% endblock %}