{% extends 'klasses/wizard/wizard_base.html' %}
{% load homework_tags %}
{% load chagrade_tags %}

{% block wizard_title %}
    <h2 class="ui massive header" style="font-size: 56px;">Homework Answers</h2>
{% endblock %}

{% block wizard_content %}
    <div class="ui fourteen wide column message">
        <h1>{{ definition.name }}</h1>

        <span>
            <a class="ui blue button" href="{% url 'api:homework_answers_CSV' version='v1' klass_pk=klass.pk definition_pk=definition.pk %}?format=csv" download="homework_answers_for_{{ klass.title }}_{{ definition.name }}.csv">Download CSV</a>
        </span>

        <table style="display: block; overflow-x: scroll;" class="ui celled table">
            <thead style="width: {{ question_quantity_sensitive_width }}%;">
            <tr>
                <th class="left-sticky">#</th>
                <th class="left-sticky right-border">Student Name</th>

                {% with definition.submissions.last as submission %}
                    {% with submission.grades.last.get_total_possible as grade %}
                        <th>Grade (Out of {{ grade }})</th>
                    {% endwith %}
                {% endwith %}

                {% if definition.team_based %}
                    <th>Team Name</th>
                {% endif %}

                {% if not definition.questions_only %}
                    <th>Submission Score</th>
                {% endif %}

                {% for question in definition.custom_questions.all %}
                    <th><pre>{{ question.question }}</pre></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody style="width: {{ question_quantity_sensitive_width }}%;">
            <tr class="ui active">
                <td class="left-sticky">1</td>
                {% if instructor_submission %}
                    <td class="left-sticky right-border">{{ instructor_student.user.username }}</td>

                    {% with instructor_submission.grades.last.get_total_score as grade %}
                        <td>{{ grade }}</td>
                    {% endwith %}

                    {% if definition.team_based %}
                        <td>{{ student.team.name }}</td>
                    {% endif %}

                    {% if not definition.questions_only %}
                        <td>
                            {% with instructor_submission.tracked_submissions.last as sub_tracker %}
                                <div style="width: 150px;">
                                    {% if sub_tracker.score %}
                                        {{ sub_tracker.score }}
                                    {% else %}
                                        No Score
                                    {% endif %}
                                </div>
                            {% endwith %}
                        </td>
                    {% endif %}

                    {% for answer in instructor_submission.question_answers.all %}
                        {% if answer.question.question_type == 'TX' %}
                            <td>
                                <div style="min-width: 450px;">{{ answer.answer|format_json_array }}</div>
                            </td>
                        {% else %}
                            <td>
                                <div style="min-width: 200px;">{{ answer.answer|format_json_array }}</div>
                            </td>
                        {% endif %}
                    {% endfor %}

                {% else %}

                    <td class="left-sticky right-border">No Instructor Submission.</td>

                    {# No Grade #}
                    <td></td>

                    {% if definition.team_based %}
                        <td></td>
                    {% endif %}

                    {% if not definition.questions_only %}
                        <td></td>
                    {% endif %}

                    {% for question in question_quantity_range %}
                        <td></td>
                    {% endfor %}

                {% endif %}
            </tr>

            {% for student in non_instructor_students %}
                <tr>
                    <td class="left-sticky">
                        {{ forloop.counter|add:1 }}
                    </td>
                    <td class="left-sticky right-border">{{ student.user.username }}</td>

                    {% with student.submitted_homeworks.last as submission %}
                        {% with submission.grades.last.get_total_score as grade %}
                            <td>{{ grade }}</td>
                        {% endwith %}

                        {% if definition.team_based %}
                            <td>{{ student.team.name }}</td>
                        {% endif %}

                        {% if not definition.questions_only %}
                            <td>
                                {% with submission.tracked_submissions.last as sub_tracker %}
                                    <div style="width: 150px;">
                                        {% if sub_tracker.score %}
                                            {{ sub_tracker.score }}
                                        {% else %}
                                            No Score
                                        {% endif %}
                                    </div>
                                {% endwith %}
                            </td>
                        {% endif %}

                        {% if submission %}
                            {% for answer in submission.question_answers.all %}
                                {% if answer.question.question_type == 'TX' %}
                                    <td>
                                        <div style="min-width: 450px;">{{ answer.answer|format_json_array }}</div>
                                    </td>
                                {% else %}
                                    <td>
                                        <div style="min-width: 200px;">{{ answer.answer|format_json_array }}</div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for question in question_quantity_range %}
                                <td></td>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <style>

    .left-sticky {
        position: sticky;
        left: 0;
        background: white;
    }

    .right-border {
        border-right: solid gray;
    }

    pre {
            overflow-x: auto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
         }
    </style>
{% endblock %}
