{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block extra_head %}
    <style>
        .condensed {
            margin: 0.5vh 0 0 0 !important;
            padding: 0.5vh 0 0 0 !important;
        }

        .no-padding {
            padding: 1vh 0 0 0 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui centered grid">
        <div class="row">
        <a class="ui blue button" href="{% url 'profiles:instructor_overview' %}">Back to Instructor Overview</a>
            <div class="fourteen wide column">
                <div class="ui centered grid segment">
                    <div class="row">
                        <div class="two wide column">
                            {% if klass.image %}
                                <img style="height: auto; width: auto;" src="{{ klass.image.url }}">
                            {% else %}
                                <img style="height: 100px; width: auto;" src="{% static "images/dark-triangles.png" %}">
                            {% endif %}
                        </div>
                        <div class="fourteen wide column">
                            <div class="ui grid">
                                <div class="row no-padding">
                                    <div class="twelve wide column">
                                        <h1 class="ui header">{{klass.title}}</h1>
                                        {% if klass.group %}
                                            <h4 class="ui header condensed">From Group: {{ klass.group.name }}</h4>
                                        {% endif %}
                                        <h4 class="ui header condensed">Organized by: {{ klass.instructor.user.username }}</h4>
                                    </div>
                                    <div class="four wide column">
                                        <a href="{% url "klasses:edit_klass" klass_pk=klass.pk %}" class="ui small yellow button">
                                            Edit
                                        </a>
                                        <h5 class="ui header condensed">Created: {{klass.created.date}}</h5>
                                        <h5 class="ui header condensed">Modified: {{klass.modified.date}}</h5>
                                    </div>
                                </div>
                                <div class="row no-padding">
                                    <div class="sixteen wide column">
                                        Description: {{ klass.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui warning message">
                    Class Status: NOT IMPLEMENTED
                </div>
                {% if object.active %}
                <div class="ui grid" style="width: 100%">
                    <div class="row">
                        <div class="content">
                            <a href="{% url "metrics:klass" klass_pk=object.pk %}" class="ui basic blue button">
                                <i class="ui chart bar outline icon"></i>
                                Metrics
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="ui vertical steps" style="width: 100%">
                    <a href="{% url "klasses:klass_enrollment" klass_pk=klass.pk %}" class="{% if klass.enrolled_students.count > 0 %}completed {% endif %}step">
                        <i class="users icon"></i>
                        <div class="content">
                            <div class="title">Enroll Students</div>
                            <div class="description">Choose your shipping options</div>
                        </div>
                    </a>
                    <a href="{% url "klasses:klass_homework" klass_pk=klass.pk %}" class="{% if klass.homework_definitions.count > 0 %}completed {% endif %}step">
                        <i class="student icon"></i>
                        <div class="content">
                            <div class="title">Define Homework</div>
                            <div class="description">Attach competitions to homework and define deadlines</div>
                        </div>
                    </a>
                    <a href="{% url "klasses:klass_grading" klass_pk=klass.pk %}" class="{% if completely_graded %}completed {% endif %}step">
                        <i class="pencil alternate icon"></i>
                        <div class="content">
                            <div class="title">Grade Homework</div>
                            <div class="description">Make grades, publish them</div>
                        </div>
                    </a>
                    <a href="{% url "klasses:klass_activate" klass_pk=klass.pk %}" class="{% if klass.active %}completed {% endif %}step">
                        <i class="info icon"></i>
                        <div class="content">
                            <div class="title">Activate Class</div>
                            <div class="description">Make class visible to students</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}