{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock %}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">

    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>

    <script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <!-- Riot -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.11.2/riot+compiler.min.js"></script>

    <script src="{% static "js/jquery.form.serializer.js" %}"></script>

    <script src="{% static "js/ours/client.js" %}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/26ae41ff0f.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Raleway" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link rel="stylesheet" href="{% static "css/calendar.min.css" %}">
    <script src="{% static "js/calendar.min.js" %}"></script>
    <script src="{% static "js/luxon.js" %}"></script>

    <!-- Our Riot -->
    <script src="{% static "riotjs/wizard/participants_table.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/criteria_table.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/question_table.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/activate_klass.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/define_extra_questions.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/define_criteria.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/student/submit_homework.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/grade_homework.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/define_homework.tag" %}" type="riot/tag"></script>

    {% block extra_head %}
    {% endblock %}

</head>

<body class="main-background">
<div class="ui container">
        <header class="ui center aligned container bottom20" style="margin-bottom: 5vh;">
            <div id="logo" class="" style="margin: 2vh 0 2vh 0;">
                <h1><a href="/">Chagrade</a><sup>
                    <small>(beta)</small>
                </sup></h1>
                <h4 class="ui sub header">Machine Learning Classes Management</h4>
            </div>

            <nav>
                <div class="ui fluid four item menu">
                        <a class="item" href="{% url "index" %}">Home</a>
                        {% if user.is_authenticated %}
                            <a class="item" href="{% url "profiles:logout" %}">Logout</a>
                            <a class="item" href="{% url "profiles:my_profile" %}">Profile</a>
                        {% else %}
                            <a class="item" href="{% url "social:begin" "chahub" %}">Sign-In</a>
                            <a class="item" href="{% url "profiles:login" %}">Login</a>
                        {% endif %}
                        <a class="item">Help</a>
                </div>
            </nav>
        </header>

        <div class="app">
            <div class="ui segment">
                <div class="module container-padding">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    <footer class="ui footer segment">

        <div class="ui horizontal link list">
            <a class="item" href="https://github.com/codalab/chagrade/issues">
                <i class="github icon"></i>
                Join us on Github for contact & Bug Reports.
            </a>
            <a class="item">
                Work In Progress - Version 0.1
            </a>
        </div>
    </footer>
</div>

<script>
    // Load in URLs or other django generated goodies
    URLS = {
        API: "/api/v1/"
    }
    USER_AUTHENTICATED = ("{{ user.is_authenticated }}" === "True")
    {% if klass %}
        KLASS = {{ klass.pk }}
    {% endif %}
    {% if definition %}
        DEFINITION = {{ definition.pk }}
    {% endif %}
    {% if user.is_authenticated and user.instructor %}
        INSTRUCTOR = {{ user.instructor.pk }}
    {% endif %}
    {% if submission %}
        SUBMISSION = {{ submission.pk }}
    {% endif %}
    {% if student %}
        STUDENT = {{ student.pk }}
    {% endif %}
    {% if grade %}
        GRADE = {{ grade.pk }}
    {% endif %}

    $('document').ready(function(){
        $('table').tablesort()
    });

    riot.mount('*')
</script>

{% block extra_script %}
{% endblock %}

</body>
</html>