{% load static %}
{% load admin_urls %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock %}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">

    <script src="//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>

    <script src="//semantic-ui.com/javascript/library/tablesort.js"></script>

    <script src="//cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.14/lodash.min.js"></script>

    <!-- Riot -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/riot/3.11.2/riot+compiler.min.js"></script>

    <script src="{% static "js/jquery.form.serializer.js" %}"></script>

    <script src="{% static "js/ours/client.js" %}"></script>

    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="//use.fontawesome.com/26ae41ff0f.css">
    <link href="//fonts.googleapis.com/css?family=Cabin|Raleway" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link rel="stylesheet" href="{% static "css/calendar.min.css" %}">
    <script src="{% static "js/calendar.min.js" %}"></script>
<!--    <script src="{% static "js/luxon.js" %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.17.2/build/global/luxon.min.js"></script>

    <!-- Our Riot -->
    <script src="{% static "riotjs/wizard/participants_table.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/teams_table.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/criteria_table.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/question_table.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/activate_klass.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/define_extra_questions.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/define_criteria.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/student/submit_homework.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/student/submission_detail_github.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/student/submission_diff.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/student/accordion_file_tree.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/grade_homework.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/define_homework.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/wizard/create_team.tag" %}" type="riot/tag"></script>
    <script src="{% static "riotjs/show_stats.tag" %}" type="riot/tag"></script>

    {% block extra_head %}
    {% endblock %}

</head>

<body class="main-background">
<div id="particles-js"></div>

<header class="center aligned header-container">
    <div id="logo">
        <div class="button-suite">
            <a class="ui icon button" href="{{ wiki_page_url }}" id="wiki-page-button"
               target="_blank" rel="noopener noreferrer"
               data-content="Wiki for this page.">
                <i class="question mark icon"></i>
            </a>
            {% if user.is_authenticated %}
                <span class="ui login-button dropdown button item">
                    <span class="text">
                        <i class="icon user outline"></i>
                        {{ user.username }}
                    </span>
                    <i class="dropdown icon"></i>
                    <span class="menu">
                    {% if user.is_staff or user.is_superuser %}
                        <div class="header">Django Admin</div>
                        <a class="item" href="{% url 'admin:index' %}">Index</a>
                        <a class="item" href="{% url 'admin:index' %}homework/">Homework</a>
                        <a class="item" href="{% url 'admin:index' %}klasses/">Classes</a>
                        <a class="item" href="{% url 'admin:index' %}profiles/">Profiles</a>
                        <a class="item" href="{% url 'metrics:admin' %}">Metrics</a>
                    {% endif %}
                        <div class="ui divider"></div>
                        <div class="header">Chasuite</div>
                            <a class="item" href="https://competitions.codalab.org/">Codalab</a>
                            <a class="item" href="https://chagrade.lri.fr/">Chagrade</a>
                            <a class="item" href="https://chalab.lri.fr/">Chalab</a>
                            <a class="item" href="#">Chagle</a>
                        <div class="ui divider"></div>
                        <div class="header">My Account</div>
                        <a class="item" href="/profiles/my_profile">
                            <i class="icon user"></i>
                            My profile
                        </a>
                        <a class="item" href="{% url "profiles:logout" %}">
                            <i class="icon sign out"></i>
                            Logout
                        </a>
                    </span>
                </span>
                {% if user.is_staff or user.is_superuser %}
                    {% if password_reset_requests %}
                        <a class="item" href="{% url "profiles:password_reset_requests" %}">
                            Password Reset Requests
                            {% if password_reset_requests.count > 0 %}
                                <div class="floating ui red label">{{ password_reset_requests.count }}</div>{% endif %}
                        </a>
                    {% endif %}
                {% endif %}
            {% else %}
                <a class="ui button" href="{% url "profiles:login" %}">Login</a>
            {% endif %}
        </div>

        <img class="logo" onclick="location.href='/'" alt="chagrade_logo" src="{% static 'images/chagrade_logo.png' %}">
    </div>

</header>
<div class="ui container">


    <div class="app">
        <div class="ui segment hide-border">
            <div class="module container-padding">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer class="ui footer segment">
        <div class="ui horizontal link list">
            <a class="item" href="https://github.com/codalab/chagrade/issues"
               target="_blank" rel="noopener noreferrer">
                <i class="github icon"></i>
                Join us on Github for contact & Bug Reports.
            </a>
            <a class="item">
                Work In Progress - Version 0.1
            </a>
        </div>
    </footer>
</div>

<script>

    // Load in URLs or other django generated goodies
    var URLS = {
        API: "/api/v1/"
    }
    var USER_AUTHENTICATED = ("{{ user.is_authenticated }}" === "True")
    {% if klass %}
        var KLASS = {{ klass.pk }}
    {% endif %}
    {% if definition %}
        var DEFINITION = {{ definition.pk }}
    {% endif %}
    {% if user.is_authenticated and user.instructor %}
        var INSTRUCTOR = {{ user.instructor.pk }}
    {% endif %}
    {% if submission %}
        var SUBMISSION = {{ submission.pk }}
    {% endif %}
    {% if student %}
        var STUDENT = {{ student.pk }}
    {% endif %}
    {% if grade %}
        var GRADE = {{ grade.pk }}
    {% endif %}
    {% if student and definition and definition.team_based and student.team %}
        console.log("Definition is team based")
        var USER_TEAM = {{ student.team.pk }}
    {% endif %}
    {# This one is passed as a PK like the rest should probably be #}
    {% if team %}
        var TEAM = {{ team.pk }}
    {% endif %}

    {% block extra_js_context %}
    {% endblock %}

    $('document').ready(function () {
        $('table').tablesort();
        $('.dropdown.login-button').dropdown();

        particlesJS.load('particles-js', "{% static 'particles/particles.json' %}", function () {
            console.log('callback - particles.js config loaded');
        })

        $('#wiki-page-button').popup()
    });

    riot.mount('*')
</script>

{% block extra_script %}
{% endblock %}

</body>
</html>